# DIA 1

## Temario:
- Tipos de datos
- Operaciones matemáticas
- Operaciones con String
- Operaciones lógicas
- Operaciones Booleanas

## Tipos de Datos

In [ ]:
# Existen los datos:
enteros = 2
flotantes = 2.6
# Para saber que tipo de dato es:
type(flotantes)

float

In [ ]:
# Caracteres / Strings
caracteres = "a"
cadena_caracteres = "Hi"

In [ ]:
# Booleanos
falso = False # falso es 0
verdadero = True # verdadero es 1

In [ ]:
# Imprimir
print(enteros)

2

## El usuario también puede ingresar datos

In [ ]:
# Con la función input, el usuario puede ingresar cualquier tipo de dato
# y podemos guardarlo en alguna variable
# (Automaticamente python lo guarda como string)
name = input("Mi nombre es: ")
print(name)

num = input("Ingresa un número: ")
print(num + 1)

Mi nombre es: Andy
Andy

ValueError: invalid literal for int() with base 10: 'Ingresa un número: '

In [ ]:
num = int(input("Ingresa un número: "))
print(num + 1)

Ingresa un número: 3
4

## Operaciones matemáticas

In [ ]:
## 4to Nivel de importancia
# Suma Ordinaria
print("Suma Ordinaria: ")
print (3 + 4)
variable1,variable2 = 20,40
print(variable1 + variable2)

# Resta Ordinaria
print("")
print("Resta Ordinaria: ")
print(2 - 5)
# Declaración de variables
v1 = 10.4
v2 = 15
resultado = v2 - v1
print(resultado)

Suma Ordinaria:
7
60

Resta Ordinaria:
-3
4.6

In [ ]:
# 3er Nivel de importancia
# Multiplicación Ordinaria
print("Multiplicación Ordinaria: ")
M1,M2 = 2,3.14
print(M1 * M2)

# División Ordinaria
print("--------------------------------")
print("División Ordinaria: ")
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1 / M2)
print(M3 / M4)
print(M5 / M6)

#División de Piso
print("--------------------------------")
print("División de Piso")
print(M1 // M2)
print(M3 // M4)
print(M5 // M6)

Multiplicación Ordinaria:
6.28
--------------------------------
División Ordinaria:
0.4
1.2
0.8
--------------------------------
División de Piso
0
1
0

In [ ]:
# Potencia
print("Potencias")
print(2 ** 3)
P1,P2 =7,2
print(P1 ** P2)

print(49 ** (1/2))

Potencias
8
49
7.0

In [ ]:
# Área de un círculo
pi = 3.14
r = 4
A = pi * (r ** 2)
print(A)

50.24

##Operación String

In [ ]:
HM = "Hola Mundo"
print(HM)

a,b = "ta","co"
print(a + b)
print(a + " " + b)

Hola Mundo
taco
ta co

In [ ]:
# Animal, debe tener un nombre, le debe gustar una fruta, debe tener una profesión
animal = "Gato"
name = "Kíli"
fruta = "manzana"
profesion = "Ingeniero"
print(f"Hola soy {name} y soy un {animal}, me gusta la {fruta} y soy un {profesion} ")

Hola soy Kíli y soy un Gato, me gusta la manzana y soy un Ingeniero

##Operaciones lógicas

In [ ]:
# Empezamos con los operadores lógicos <,>, <=, >=, and, or (SIEMPRE RETORNA UN BOOLEANO)
b1 = 4 > 5
b2 = 7 > 3
b3 = 14 > 14
b4 = 14 >= 14

True

In [ ]:
# Quieres un sandwich con todo
pan = True
queso = True
mayonesa = True
jamon = False
print(pan and queso and mayonesa and jamon)

False

In [ ]:
print(True * 20)
print(False * 10)

20
0