#D√≠a 3

##Temario
- Listas
- Tuplas
- Sets
- Diccionarios

# Estructura de datos
Las estructuras de datos son formas de organizar informaci√≥n para trabajar con ella de manera eficiente.

- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenados, sin duplicados
- Diccionarios -> pares clave:valor

Nota:
- Pilas (FILO = First In Last Out)
- Colas (FIFO = First In First Out)
- Listas enlazadas (o doblemente enlazadas)

## Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos.

In [1]:
lista_de_compras =["manzanas", "pan", "leche", "huevo", "mantequilla", "queso", "jam√≥n"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevo', 'mantequilla', 'queso', 'jam√≥n']

In [5]:
print(lista_de_compras[0])

manzanas

In [6]:
# Agregar un elemento a la lista
lista_de_compras.append("sopa")
lista_de_compras

['manzanas', 'pan', 'leche', 'huevo', 'mantequilla', 'queso', 'jam√≥n', 'sopa']

In [8]:
lista_de_compras.insert(1, "platano")
lista_de_compras

['manzanas',
 'platano',
 'platano',
 'pan',
 'leche',
 'huevo',
 'mantequilla',
 'queso',
 'jam√≥n',
 'sopa']

In [9]:
# Para eliminar un elemento de una liste existe remove y pop
lista_de_compras.remove("platano")
lista_de_compras

['manzanas',
 'platano',
 'pan',
 'leche',
 'huevo',
 'mantequilla',
 'queso',
 'jam√≥n',
 'sopa']

In [10]:
lista_de_compras.pop() # Sin nada dentro del parentesis borra el √∫ltimo elemento
lista_de_compras.pop(7) # o puedes agarrar la posici√≥n que quieres(pero iniciando desde 0)
# Nota: te retorna el n√∫mero eliminado

'jam√≥n'

In [11]:
# Podemos recorrer la lista por medio de un for
for elementos in lista_de_compras:
  print(elementos)

manzanas
platano
pan
leche
huevo
mantequilla
queso

In [12]:
# len() obtiene el tama√±o de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i + 1} - {lista_de_compras[i]}")

7
1 - manzanas
2 - platano
3 - pan
4 - leche
5 - huevo
6 - mantequilla
7 - queso

In [77]:
#OPCIONAL
import random
opciones = ["piedra", "papel", "tijeras"]

while True:
  while True:
    eleccion = input("\nElige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): ")
    if eleccion not in opciones and not eleccion == "salir":
      print("Opci√≥n no v√°lida, intenta de nuevo.")
    else:
      break

  if eleccion == "salir":
    print("¬°Gracias por jugar!")
    break
  aleatoria = random.choice(opciones)
  print("La computadora eligi√≥: ", aleatoria)

  #Determinamos el ganador
  if eleccion == aleatoria:
    print("Empate")
  elif (eleccion == "piedra" and aleatoria == "tijeras") \
    or (eleccion == "papel" and aleatoria == "piedra" ) \
    or (eleccion == "tijeras" and aleatoria == "papel"):
   print("¬°Ganaste!")
  else:
    print("Perdiste")

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): papel
La computadora eligi√≥:  papel
Empate

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): piedra
La computadora eligi√≥:  papel
Perdiste

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): tijeras
La computadora eligi√≥:  piedra
Perdiste

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): piedra
La computadora eligi√≥:  tijeras
¬°Ganaste!

Elige piedra, papel o tijeras (o escribe salir si ya no quieres jugar): salir
¬°Gracias por jugar!

In [16]:
promedios = [55.6,97.5,23.6,97.5,72.4,100]
print(promedios)
promedios.sort() # sort sirve para ordenar la lista de manera ascendente
print(promedios)
#Ordena los datos de forma descendenta
promedios.sort(reverse = True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [17]:
# Podemos ingresar al ultimo elemento de una lista
print(promedios[-1])

23.6

In [18]:
# Encontrar el mayor y el menor de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [75]:
# Declaraci√≥n y uso de matrices
calificaciones = [[100,88,93], [99,56,72]]
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f"Cali {j}: {cali_j}")
    j+= 1
j = 0
i += 1

Alumno 1
Cali 1: 100
Cali 2: 88
Cali 3: 93

Alumno 1
Cali 1: 99
Cali 2: 56
Cali 3: 72

## Tuplas
Colecciones ordenadas pero inmutables

In [24]:
# Hagamos un programa donde guardemos fechas de nacimientos de un grupo en una tupla
fechas = ("10/10/05", "22/03/02", "17/04/04", "25/02/04")
fechas

('10/10/05', '22/03/02', '17/04/04', '25/02/04')

In [25]:
#ES INMUTABLE
fechas.append("10/06/03") #TE VA A MARCAR ERROR

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
fecha_lista = list(fechas) # Aqu√≠ ya puedes usar los comandos b√°sicos de una lista

## SETS
Los sets son colecci√≥nes sin orden y que no permiten elementos duplicados

In [28]:
nombre = {"Angel", "Eliud", "Diana", "Juan", "Juan"}
print(nombre)
print(type(nombre))

{'Juan', 'Diana', 'Angel', 'Eliud'}
<class 'set'>

In [30]:
distintos_datos = {"Angel", 1, "Diana", "Juan", "Juan", 4.8}
distintos_datos

{1, 4.8, 'Angel', 'Diana', 'Juan'}

In [31]:
# Add
nombre.add("Leonardo")
nombre

{'Angel', 'Diana', 'Eliud', 'Juan', 'Leonardo'}

In [32]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [33]:
nombre[2] = "Axel"

TypeError: 'set' object does not support item assignment

In [39]:
# Uni√≥n
matutino = {20322,22183,12345,76453}
vespertino = {20322,1111,22222,33333}
# Union con .union
total_matriculas = matutino.union(vespertino)
print(total_matriculas)
# Union pero con |
total_matriculas = matutino | vespertino
print(total_matriculas)

{20322, 76453, 22183, 22222, 33333, 1111, 12345}
{20322, 76453, 22183, 22222, 33333, 1111, 12345}

In [40]:
# Intersecci√≥n
ca = {1234, 121, 646, 123443, 73456, 1223243,678192}
al = {1234, 111,222,333,444}
# intersecci√≥n con .intersection()
ca_al = ca.intersection(al)
print(ca_al)
# interseccion usando &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [42]:
# Diferencia
# Diferencia usando .difference
solo_calculo = ca.difference(al)
print(solo_calculo)
# Diferencia usando -
solo_calculo = ca -al
print(solo_calculo)

{646, 1223243, 73456, 678192, 123443, 121}
{646, 1223243, 73456, 678192, 123443, 121}

In [47]:
nombre = {"Angel", "Eliud", "Diana", "Juan", "Juan"}
# remove, pop
nombre.remove("Angel") #Puedes eliminar el que t√∫ quieres
print(nombre)

nombre.pop() #Elimina un elemento de manera aleatoria
print(nombre)

{'Juan', 'Diana', 'Eliud'}
{'Diana', 'Eliud'}

In [48]:
#Eliminar todo el set
nombre.clear()
nombre

set()

## Diccionarios
Son colecciones no ordenadas de pares clave:valor

In [58]:
alumno = {
    #clave       valor
    "nombre" : "Andrea Carrillo",
    "edad" : 21,
    "carrera" : "ITS",
    "semestre": 7,
    "promedio" : 92,
    "calificaciones" : [100,94,94,97,100]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Andrea Carrillo',
 'edad': 21,
 'carrera': 'ITS',
 'semestre': 7,
 'promedio': 92,
 'calificaciones': [100, 94, 94, 97, 100]}

In [59]:
print("El alumno", alumno["nombre"], "esta estudiando", alumno["carrera"])

El alumno Andrea Carrillo esta estudiando ITS

In [60]:
# Agregar al diccionario
alumno["area preferida"] = "Ciencia de Datos"
alumno

{'nombre': 'Andrea Carrillo',
 'edad': 21,
 'carrera': 'ITS',
 'semestre': 7,
 'promedio': 92,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de Datos'}

In [61]:
for valor in alumno:
  print(alumno[valor])

Andrea Carrillo
21
ITS
7
92
[100, 94, 94, 97, 100]
Ciencia de Datos

In [62]:
for clave, valor in alumno.items():
    #items devuelve una vista de todos los pares clave:valor del diccionario
    print(clave,": ", valor)

nombre :  Andrea Carrillo
edad :  21
carrera :  ITS
semestre :  7
promedio :  92
calificaciones :  [100, 94, 94, 97, 100]
area preferida :  Ciencia de Datos

In [63]:
# El metodo .crear() tambien se puede usar aqu√≠.
# Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Andrea Carrillo

In [68]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))

#convertir a lista
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Andrea Carrillo'), ('edad', 21), ('carrera', 'ITS'), ('semestre', 7), ('promedio', 92), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de Datos')])
<class 'dict_items'>
[('nombre', 'Andrea Carrillo'), ('edad', 21), ('carrera', 'ITS'), ('semestre', 7), ('promedio', 92), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de Datos')]
<class 'list'>

In [69]:
# El m√©todo .value() sirve para obtener los valores del diccionario
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Andrea Carrillo', 21, 'ITS', 7, 92, [100, 94, 94, 97, 100], 'Ciencia de Datos'])

In [70]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [72]:
#.copy() puedes copiar todo el diccionario en una nueva variable
#Update -> Sirve para cambiar los valueas (.update())
alumno.update({"semestre" : 8})
alumno

{'nombre': 'Andrea Carrillo',
 'edad': 21,
 'carrera': 'ITS',
 'semestre': 8,
 'promedio': 92,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de Datos'}

In [73]:
# ========================================
# TIENDA SIMPLE - Versi√≥n optimizada
# ========================================

# Lista de productos (ordenada)
productos = ["manzana", "banana", "leche", "pan"]

# Tupla de precios (no se modifican)
precios = (10, 5, 20, 15)

# Diccionario de inventario: producto ‚Üí {"precio": x, "stock": y}
inventario = {
    productos[i]: {"precio": precios[i], "stock": 10}
    for i in range(len(productos))
}

# Set de productos en oferta (b√∫squeda r√°pida O(1))
ofertas = {"manzana", "pan"}

# ========================================
# Mostrar cat√°logo de productos
# ========================================
print("üçé BIENVENIDO A LA TIENDA üçû\n")
print("‚ïê" * 50)
for p in productos:
    info = inventario[p]
    mensaje = "üî• ¬°OFERTA ESPECIAL! üî•" if p in ofertas else "üí∞ Precio regular"
    print(f"{p.title():8} ‚Üí ${info['precio']:2} | Stock: {info['stock']:2} ‚Üí {mensaje}")
print("‚ïê" * 50)

# ========================================
# Sistema de compra interactivo
# ========================================
print("\nüõí ¬øQu√© producto deseas comprar?")
compra = input("Escribe el nombre del producto: ").strip().lower()

# Buscar si el producto existe (independiente de may√∫sculas)
producto_encontrado = None
for p in productos:
    if p.lower() == compra:
        producto_encontrado = p
        break

if producto_encontrado and inventario[producto_encontrado]["stock"] > 0:
    inventario[producto_encontrado]["stock"] -= 1
    precio = inventario[producto_encontrado]["precio"]
    oferta_texto = " (¬°EN OFERTA!)" if producto_encontrado in ofertas else ""
    print(f"\n‚úÖ ¬°Compra exitosa!{oferta_texto}")
    print(f"   Compraste: 1 {producto_encontrado.title()}")
    print(f"   Precio: ${precio}")
    print(f"   Stock restante: {inventario[producto_encontrado]['stock']}")
else:
    print("\n‚ùå Lo siento, el producto no est√° disponible o no tenemos stock.")

# ========================================
# Mostrar inventario actualizado (opcional)
# ========================================
print("\nüì¶ Inventario actualizado:")
for p in productos:
    info = inventario[p]
    print(f"   ‚Ä¢ {p.title():8} ‚Üí Stock: {info['stock']}")

üçé BIENVENIDO A LA TIENDA üçû

‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê
Manzana  ‚Üí $10 | Stock: 10 ‚Üí üî• ¬°OFERTA ESPECIAL! üî•
Banana   ‚Üí $ 5 | Stock: 10 ‚Üí üí∞ Precio regular
Leche    ‚Üí $20 | Stock: 10 ‚Üí üí∞ Precio regular
Pan      ‚Üí $15 | Stock: 10 ‚Üí üî• ¬°OFERTA ESPECIAL! üî•
‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê

üõí ¬øQu√© producto deseas comprar?
Escribe el nombre del producto: manzana

‚úÖ ¬°Compra exitosa! (¬°EN OFERTA!)
   Compraste: 1 Manzana
   Precio: $10
   Stock restante: 9

üì¶ Inventario actualizado:
   ‚Ä¢ Manzana  ‚Üí Stock: 9
   ‚Ä¢ Banana   ‚Üí Stock: 10
   ‚Ä¢ Leche    ‚Üí Stock: 10
   ‚Ä¢ Pan      ‚Üí Stock: 10